In [20]:
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

For this section, we're looking at the connections bewteen Pokemon type and their base stats. This makes a lot of the data unenessary, so to make things more efficent and streamlined, it's imporatnat that we select only the most useful colums from the dataset. To start with, we obviously need to import the raw data.

In [21]:
sys.path.append("../")
raw_dataframe = pd.read_csv("../pokemon_data_raw.csv", delimiter=",")

Then we will select the column necessary, in this case that's just the two type columns and the six stat columns.

In [22]:
selected_dataframe = raw_dataframe[['type1','type2',"hp", "attack", "defense", "speed", "sp_attack", "sp_defense"]]
selected_dataframe.head()

   type1   type2  hp  attack  defense  speed  sp_attack  sp_defense
0  grass  poison  45      49       49     45         65          65
1  grass  poison  60      62       63     60         80          80
2  grass  poison  80     100      123     80        122         120
3   fire     NaN  39      52       43     65         60          50
4   fire     NaN  58      64       58     80         80          65

In [23]:
selected_dataframe.describe()

               hp      attack     defense       speed   sp_attack  sp_defense
count  801.000000  801.000000  801.000000  801.000000  801.000000  801.000000
mean    68.958801   77.857678   73.008739   66.334582   71.305868   70.911361
std     26.576015   32.158820   30.769159   28.907662   32.353826   27.942501
min      1.000000    5.000000    5.000000    5.000000   10.000000   20.000000
25%     50.000000   55.000000   50.000000   45.000000   45.000000   50.000000
50%     65.000000   75.000000   70.000000   65.000000   65.000000   66.000000
75%     80.000000  100.000000   90.000000   85.000000   91.000000   90.000000
max    255.000000  185.000000  230.000000  180.000000  194.000000  230.000000

We know that type2 will have some missing values, because not all pokemon have two types. But we should also check to see that the other columns aren't missing any values

In [24]:
selected_dataframe.isnull().sum()

type1           0
type2         384
hp              0
attack          0
defense         0
speed           0
sp_attack       0
sp_defense      0
dtype: int64

Now we just need to save the new selection of data.

In [25]:
selected_dataframe.to_csv("types_stats_data.csv", index=False)